body {
    background-color: #2E2E2E;
    font-family: 'Oxygen', sans-serif;
}

h1, h3 {
    font-weight: bold;
}

h1 {
	color: yellow;
}

main {
    margin-bottom: 90px;
}

.linkedin {
	display: flex;
	margin: auto;
	width: 100%;
	align-content: center;
	justify-content: center;
	text-align: left;
}

.jumbotron {
	background: #484848;
    padding: 3rem 1rem;
    text-align: center;
    border-radius: 0 !important;
}

.jumbotron .container {
    background-color: rgba(255, 255, 255, .7);
    padding: 10px;
    margin: 50px auto;
    color: #000;
}

.jumbotron h1 {
    margin-top: 2rem;
    font-weight: bold;
}

.jumbotron p {
    font-size: 1.4rem;
    font-weight: 400;
    padding-top: .5rem;
}

.row {
    width: 100%;
    padding: 0;
    margin: 0;
}


/* MENU SUPERIOR */

.navbar {
    margin: 0;
    padding: 20px auto;
}

.navbar a {
    padding: 0;
    width: 50px;
    color: #fff;
}





/* CONTATO */

.portfolio, .contato {
    color: #fff;
    padding: 0 1rem;
}

.contato ul {
    list-style: none;
}

.contato i {
    padding-right: 10px;
}

.contato li, .contato li a {
    font-size: 1rem;
    color: #fff;
}






/* DIVS USADAS NO SCROLL */

.espaco {
    margin-bottom: 35px;
    color: #8A0808;
}








/* CARDS */

.card {
    margin: 40px auto 40px auto;
    border-radius: 0;
}

.card-body {
    color: #484848;
    line-height: 2rem;
}

.card small a {
    color: #999;
    font-weight: bold;
    text-decoration: none;
    font-size: 1rem;
}


