body {
    background-color: #8A0808;
}

.espaco{
    color: #8A0808;
}
.row {
    width: 100%;
    padding: 0;
    margin: 0;
}

.collapse .navbar-collapse {
    margin-left: -50px;
}


.footer ul {
    position: flex !important;
    justify-content: space-around !important;
    text-align: center;
    margin: auto;
    padding: 0;
}
.footer .nav-link {
    color: #fff;
    font-size: 2rem;
}

.portfolio, .contato {
    color: #fff;
    padding: 0 1rem;
}

.perfil {
    margin-top: -30px;
}

.section h2 {
    color: #fff;
    margin-left: 20px;
}
.contato ul {
    list-style: none;
}

.contato li, .contato li a, .contato span {
    font-size: 1rem;
    color: #fff;
    font-family: Helvetica;
}

main {
    margin-bottom: 90px;
}

.espaco {
    margin-bottom: 35px;
}

.card {
    color: #000;
}

.card span {
    color: #999;
    font-weight: bold;
}
